@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Application.Common
@using Microsoft.Extensions.Options;
@using Application.Models.Common;

@model Application.Models.User.ForgotPasswordModel;

@inject IOptions<ReCaptchaConfiguration> reCaptchaConfig;

@{
    var alert = ViewData["Alert"] as Alert;
}

<form method="post">
    <h4>Quên mật khẩu</h4>
    @if (alert != null)
    {
        string className = string.Format("alert alert-{0}", alert.Type);
        <div class="@className">
            @alert.Message
        </div>
    }
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Địa chỉ email</label>
        @Html.TextBoxFor(p => p.Email, htmlAttributes: new Dictionary<string, object>
        {
        {"class", "form-control"}   
        })
        <small class="text-danger">@Html.ValidationMessageFor(model => model.Email)</small>
        <div id="emailHelp" class="form-text">Nhập địa chỉ email bạn đã dùng để đăng ký tài khoản trước đó</div>
    </div>
    <div class="g-recaptcha" data-sitekey=@reCaptchaConfig.Value.Key></div>
    <p><small class="text-danger">@ViewData["ReCaptchaError"]</small></p>
    <button type="submit" class="btn btn-primary mt-2">Gửi thông tin</button>
</form>