@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Application.Models.User.ResetPasswordModel
@using Application.Models.Common;

@{
    var alert = ViewData["Alert"] as Alert;
}

<form method="post">
    <h4>Đặt lại mật khẩu</h4>
    @if (alert != null)
    {
        string className = string.Format("alert alert-{0}", alert.Type);
        <div class="@className">
            @alert.Message
        </div>
    }
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Mật khẩu mới</label>
        @Html.PasswordFor(p => p.NewPassword, htmlAttributes: new Dictionary<string, object>
        {
        {"class", "form-control"}
        })
        <small class="text-danger">@Html.ValidationMessageFor(model => model.NewPassword)</small>
        <div id="emailHelp" class="form-text">Mật khẩu tối thiểu 10 ký tự, bao gồm chữ số và ký tự đặc biệt.</div>

        <label for="exampleInputEmail1" class="form-label mt-2">Xác nhận mật khẩu</label>
        @Html.PasswordFor(p => p.ConfirmPassword, htmlAttributes: new Dictionary<string, object>
        {
        {"class", "form-control"}
        })
        <small class="text-danger">@Html.ValidationMessageFor(model => model.ConfirmPassword)</small>
        @Html.HiddenFor(p => p.Token)
        @Html.HiddenFor(p => p.UserId)
    </div>

    <button type="submit" class="btn btn-primary mt-2">Cập nhật</button>
</form>