@model Application.Models.PostCategory.UpdateCategoryModel;

<h3>Cập nhật danh mục</h3>

<form method="post">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <label class="mt-2">Tên:</label>
            @Html.TextBoxFor(p => p.Name, htmlAttributes: new
                {
                    @class = "form-control",
                    id = "name"
                })
            <small class="text-danger">@Html.ValidationMessageFor(model => model.Name)</small>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <label class="mt-2">Slug:</label>
            @Html.TextBoxFor(p => p.Slug, htmlAttributes: new
                {
                    @class = "form-control",
                    id = "slug"
                })
            <small class="text-danger">@Html.ValidationMessageFor(model => model.Slug)</small>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <label class="mt-2">Thứ tự hiển thị:</label>
            @Html.TextBoxFor(p => p.OrderIndex, htmlAttributes: new
                {
                    @class = "form-control",
                    type = "number",
                    min = 1,
                })
            <small class="text-danger">@Html.ValidationMessageFor(model => model.OrderIndex)</small>
        </div>
    </div>
    <div class="mt-2">
        @Html.CheckBoxFor(p => p.IsHidden, htmlAttributes: new
            {
                id = "isHidden",
                @class = "form-check-input"
            })
        <label for="isHidden">Ẩn (các bài viết liên quan sẽ bị ẩn)</label>
    </div>

    @Html.HiddenFor(p => p.Id)
    <button type="submit" class="btn btn-primary mt-2">Lưu</button>
</form>
<script src="~/js/category/create.js"></script>